#menu{
	margin: 0% 1% 1% 1%;
}
.jumbotron{
	background-color: yellow;
	color: black;
	margin: 3% 1% 1% 1%;
	max-height: 5%;
}
#slides{
	max-height: 5%;
	margin-top: 2%;
}
.btn-primary{
	background-color: rgb(51, 112, 192);
	color: white;
}
.footer{
	padding: 1% 1% 1% 1%;
	background-color: yellow;
	margin: 1% 1% 1% 1%;
}
.card-hotel{
	flex: 33%;
	flex-direction: column;
	/* justify-content: space-between; */
	/* align-content: space-between; */	
}
.btn-reserva{
	width: 100%;
}