$yellow:#d8d520;
$rojo:rgb(224, 4, 4);
$verde:green;
@mixin margenes ($right, $bottom, $left){
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

#menu{
    margin-top: 0%;
    @include margenes (1%, 1%, 1%);
}
.jumbotron{
	background-color: $yellow;
	color: black;
    margin-top: 3%;
    @include margenes (1%, 1%, 1%);
	max-height: 5%;
}
#slides{
	max-height: 5%;
	margin-top: 2%;
}
.btn-primary{
	background-color: $verde;
	color: white;
}
.footer{
	padding: 1% 1% 1% 1%;
	background-color: $yellow;
    margin-top: 1%;
    @include margenes (1%, 1%, 1%);
}
.card-hotel{
	flex: 33%;
	flex-direction: column;
	/* justify-content: space-between; */
	/* align-content: space-between; */	
}
.btn-reserva{
	width: 100%;
}