@yellow: #d8d520;

.margenes(@right, @bottom, @left){
  margin-right: @right;
  margin-bottom: @bottom;
  margin-left: @left;
}

#menu {
    margin-top: 0%;
    .margenes(1%, 1%, 1%); 
  }
  
  .jumbotron {
    background-color: @yellow;
    color: black;
    margin-top: 3%;
    .margenes(1%, 1%, 1%);
    max-height: 5%; }
  
  #slides {
    max-height: 5%;
    margin-top: 2%; }
  
  .btn-primary {
    background-color: green;
    color: white; }
  
  .footer {
    padding: 1% 1% 1% 1%;
    background-color: @yellow;
    .margenes(1%, 1%, 1%);
    margin-left: 1%; }
  
  .card-hotel {
    flex: 33%;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-content: space-between; */ }
  
  .btn-reserva {
    width: 100%; }
  