#menu {
  margin-top: 0%;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
}
.jumbotron {
  background-color: #d8d520;
  color: black;
  margin-top: 3%;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  max-height: 5%;
}
#slides {
  max-height: 5%;
  margin-top: 2%;
}
.btn-primary {
  background-color: green;
  color: white;
}
.footer {
  padding: 1% 1% 1% 1%;
  background-color: #d8d520;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
}
.card-hotel {
  flex: 33%;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-content: space-between; */
}
.btn-reserva {
  width: 100%;
}
